* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;

    --bg: #ffe7ac;
    --fg: #111;
    --dp: #f9ffee;

    background-color: var(--bg);
}

@media (prefers-color-scheme: dark) {
    html {
        --bg: #221f11;
        /* Slightly less bright variation of the light background color. */
        --fg: #e3c57a;
        --dp: #000
    }
}

body {
    font-family: 'Atkinson Hyperlegible Next', 'Atkinson Hyperlegible', sans-serif;
    font-optical-sizing: auto;
    line-height: 1.7em;
    color: var(--fg);
}

a {
    color: inherit;
    text-decoration: none;
}

section > p > a {
    text-decoration: underline;
    text-underline-offset: 1.5pt;
}

nav, .main, .main-error {
    min-width: 35em;
    max-width: 52em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main-error {
    max-width: 30em;
    margin-top: 3rem;
}

.main-error h1 {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

nav {
    margin-top: 1.8rem;
    margin-bottom: 2.8rem;
    display: grid;
    grid-template-columns: 1fr auto auto;
    border-bottom: 2pt solid var(--fg);
    line-height: 2rem;
}

nav h1 {
    font-weight: 800;
    letter-spacing: -1.2pt;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

nav span {
    margin-left: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 5fr 2.45fr;
    grid-template-areas: 'main aside';
    margin-bottom: 3rem;
}

section {
    grid-area: main;
}

section h1 {
    margin-bottom: 0.8rem;
    font-size: 2.5em;
    line-height: 2.6rem;
    font-weight: 600;
}

h2 {
    /* We use padding rather than margin here, so that if you put an anchor on
     * a h2, when the browser aligns the viewport to it, it's not right against
     * the top of the window, there is some ... padding above! */
    padding-top: 2.4rem;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 800;
}

h2:first-child {
    /* Skip the top margin and then move it up by 0.5rem, so the text aligns
     * with the sidebar. */
    margin-top: -0.3rem;
    margin-bottom: 0.3rem;
}

aside {
    grid-area: aside;
    margin-left: 3rem;
}

.main.wider {
    grid-template-columns: 5fr 1.7fr;
}

.main.wider aside {
    margin-left: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

h3 {
    font-weight: 700;
    font-size: 1.05rem;
    line-height: 1.7rem;
    margin-top: 1.6rem;
}

h3:first-child {
    margin-top: 0;
}

.resolution {
    text-align: center;
    line-height: 6.5rem;
    font-size: 7rem;
    font-weight: 800;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    /* Disable horizontal border-spacing, because it breaks alignment of full-
     * width tables. We compensate by bumping the line spacing globally. */
    border-spacing: 0;
}

table td {
    /* In case of line-wrapping content, align the other lines to the top. */
    vertical-align: top;
}

table th {
    /* Though with headings, it's the other way around, glue them closer to the
     * table. */
    vertical-align: bottom;
}

section table td + td, section table th + th {
    padding-left: 2rem;
}

table th {
    text-align: left;
}

table .num {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

input, button {
    padding: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-family: inherit;
    background-color: inherit;
    color: var(--fg);
    border: 2pt solid var(--fg);
    border-radius: 3pt;
    background-color: var(--dp);
}

button {
    border-bottom-width: 3pt;
    border-right-width: 3pt;
}

button:enabled:active {
    border-bottom-width: 2pt;
    border-right-width: 2pt;
    border-top-width: 3pt;
    border-left-width: 3pt;
}

input:disabled, button:disabled, .slider .knob.disabled {
    background: repeating-linear-gradient(
      -45deg,
      var(--dp),
      var(--dp) 3pt,
      color-mix(in srgb, var(--fg) 15%, var(--dp)) 3pt,
      color-mix(in srgb, var(--fg) 15%, var(--dp)) 4.5pt
    );
    color: color-mix(in srgb, var(--fg) 60%, var(--dp));
}

aside form, aside label {
    display: grid;
    grid-template-columns: 1fr 5rem;
}

aside form label {
    grid-column: 1 / 3;
    line-height: 2.2rem;
    height: 2.2rem;
}

aside form button {
    margin-top: 0.5rem;
    grid-column: 2 / 3;
}

aside form button.wide {
    grid-column: 1 / 3;
}

aside form label input {
    grid-column: 2 / 3;
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: right;
}

.bet-size-buttons {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#button-neutral {
    grid-column: 1 / 6;
}

/* We style the buttons a bit more subtle than the default buttons style.
   It's maybe a bit confusing, not as obvious that they are clickable, but if we
   styled them the same, they are too distracting. They are not the main content
   of the page, they should not immediately draw your attention. */
.bet-size-buttons button {
    font-size: 0.85rem;
    font-weight: 420;
    background: transparent;
    border: 1.5pt solid var(--fg);
    padding: 0.5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

.bet-size-buttons button:active {
    padding: 0;
    padding-top: 5.5pt;
    padding-bottom: 3.5pt;
    border-width: 2pt;
}

.slider {
    width: calc(100% - 2rem);
    height: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    user-select: none;
}

.slider hr {
    border: none;
    border-bottom: 2pt solid var(--fg);
    height: calc(50% - 1pt);
}

.slider .percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    position: absolute;
    left: 50%;
    line-height: 3rem;
    font-size: 2.4rem;
    font-weight: 800;
    /* Not a table, but when you drag the slider around, with proportional
     * numbers, the width of the label changes, and because it's centered, the
     * entire thing jumps around a bit. Which is not really that bad, but then
     * when you compare it with tabular nums, tabular nums are much quieter,
     * moving the slider is less jarring. */
    font-variant-numeric: tabular-nums;
}

.slider .pmarket { top: 0.5rem; }
.slider .puser { bottom: 0.5rem; font-weight: 300; }

.slider .tmarket, .slider .tuser {
    width: 0;
    height: 0;
    position: absolute;
    border: 1ex solid transparent;
}

.slider .tmarket {
    top: 3.5em;
    border-top: 1ex solid var(--fg);
}
.slider .tuser {
    bottom: 3.5em;
    border-bottom: 1ex solid var(--fg);
}

.slider .knob {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 2rem;
    background: var(--dp);
    border: 2pt solid var(--fg);
    position: absolute;
    top: calc(50% - 0.6rem - 2pt);
}

#trade-offer {
    margin-top: 1rem;
}

#trade-offer div {
    display: grid;
    /* The trade button should be 4rem wide, except when the trade offer table
       is so wide that it doesn't fit, then we let that table eat a bit into the
       space of the trade button. */
    grid-template-columns: auto minmax(2rem, 4rem);
    grid-template-areas: 'table form';
    grid-column-gap: 1rem;
}

#trade-offer form { grid-area: form; }

#trade-offer table {
    grid-area: table;
    /* With long share names and/or numbers, on a narrow viewport, the trade
    offer table doesn't really fit, but if we let it line-wrap, it looks really
    ugly and unreadable. Better to not let it wrap. That actually works fine and
    then the table remains wider which makes the sidebar narrower. That's
    actually quite neat, except that it makes the width of the table jump when
    you move the slider to trade. That changes the width of the slider itself,
    and that changes the meaning of the current cursor position. We can avoid
    that by setting overflow:hidden here, but a nicer solution is to steal some
    space from the trade button, which is what the minmax above does. */
    text-wrap-mode: nowrap;
}

#trade-offer td {
    padding-left: 0.9ex;
}
#trade-offer td:first-child {
    padding-left: 0;
}

td.filler {
    padding-left: 0;
    width: 100%;
}

td.strong, strong {
    font-weight: 700;
}

#trade-offer button {
    width: 100%;
    height: 100%;
    /* Make it at most two lines tall, even when the table has 3 lines. */
    max-height: 3.4rem;
}

#trade-warning {
    display: none;
    margin-top: 1rem;
}
#trade-warning.enabled { display: block; }

/* In participant tables, mark the current user with an arrow and a slightly
 * bolder line, so people can easily locate themselves. */
tr.self {
    font-weight: 525;
    position: relative;
}

tr.self td.owner:before {
    position: absolute;
    left: -0.8rem;
    font-weight: 600;
    content: '›';
}

tr.system td.owner {
    font-style: italic;
    text-transform: lowercase;
}

/* TODO: Do I end up using this? It works well for an anchor with content "?" */
.info {
    display: inline-block;
    border-radius: 1rem;
    border: 1.2pt solid var(--fg);
    width: 0.70rem;
    height: 0.70rem;
    line-height: 0.80rem;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 500;
    font-style: normal;
}

.market + .market, p + .market {
    margin-top: 0.6rem;
}

.market .summary {
    margin-top: 1rem;
    display: grid;
    /* Square would be 5.2x5.2, but somehow that does not look visually square,
     * we make it slightly taller to make it appear square. */
    height: 5.3rem;
    column-gap: 1.1rem;
    grid-template-columns: 5.2rem auto 1fr;
    grid-template-areas: 'teaser stats _1';
}

.market .summary .teaser {
    grid-area: teaser;
    border-radius: 0.3rem;
    border: 2pt solid var(--fg);
    text-align: center;
    font-weight: 400;
    display: grid;
    /* If we make the space above and below symmetric, it doesn't look visually
     * centered; leave a bit more space above to make it _appear_ centered. */
    grid-template-rows: 1.1fr 2.1rem 1fr;
    grid-template-areas: 'above' 'big' 'below';
}

.market .summary .teaser.resolved {
    background-color: var(--fg);
    color: var(--bg);
    font-weight: 500;
    grid-template-rows: 2.2rem 2.1rem 1fr;
}

.market .summary .teaser .big {
    grid-area: big;
    font-size: 1.5rem;
    line-height: 2rem;
}

.market .summary .teaser .long-label {
    /* If the name of the outcome is longer than "Yes" or "No",
     * reduce the font size so it fits. */
    font-size: 1.2rem;
}

.market .summary .above {
    padding-top: 1.05rem;
    line-height: 0.9rem;
    font-size: 0.85rem;
    grid-area: above;
}

.market .summary table {
    grid-area: stats;
}

table.nowrap {
    /* See also `#trade-offer table`. */
    text-wrap-mode: nowrap;
}

table .w2 { width: 2rem; }
table .w5 { width: 5rem; }
table .nopad { padding-left: 1ex; }

table tr.market-assets td {
    font-weight: 600;
    vertical-align: bottom;
}

table tr.market-assets a {
    display: block;
    margin-top: 1.6rem;
}

section > table + p,
section > p + table,
section > p + p {
    margin-top: 1.6rem;
}
